* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 2px solid black;*/
  font-family: 'Roboto', sans-serif;
  
}

/* BODY */

body main{
  height: 60vh;
  display: flex;
  background-color:#d7d8dd;
  align-items: center;
  justify-content: center;
}

.login-container {
  position: relative;
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.login-container .form {
  padding: 30px;

}

.login-container .form .title{
  font-size: 27px;
  font-weight: 600;
  position: relative;

}

.form .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #337AF1;
  border-radius: 25px;
}

.form .input-field{
  height: 40px;
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.input-field input {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: #f3f4f6;
  border-top: 2px solid transparent;
}

.form .checkbox-text{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content{
  display: flex;
  align-items: center;
}

.checkbox-content input{
  accent-color: #337AF1;
  margin: 0 8px -2px 4px;
}
.form .text{
  font-size: 14px;
  color: #717274;
}
.form a.text{
  color: #337AF1;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #337AF1;
  outline: none;
  border: none;
  color: #fff;
  margin-top: 1rem;
  margin-top: 35px;
}

.login-btn:hover{
  background-color: #5CC4DC;
  cursor: pointer;
}

.register{
  margin-top: 25px;
}

/* NAVBAR SECTION */

.nav-links li a:hover {
  color: #5CC4DC;
  transition: 0.3s ease-out;
}

.login-btn-nav{
  width: 6rem;
  height: 30px;
  border-radius: 1rem;
  background-color: #337AF1;
  outline: none;
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.login-btn-nav:hover{
  background-color: #5CC4DC;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem)
}

nav{
  display: flex;
  align-items: center;
  min-height: 8vh;
  
  
  
}

ul{
  list-style: none;
  
}

ul li {
  display: inline;
  text-decoration: none;
  line-height: 4;
}

.logo-img {
  width: 1.2rem;
  height: auto;
  margin-right: 0.5rem;
  
}
.logo {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  
}

.logo p {
  font-weight: bold;
  color: white;
  font-size: 18px;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252934;
  
}

.burger{
  cursor: pointer;
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: var(--gap, 3rem);

}
 

.nav-links a{
  text-decoration: none;
  color: white;
}



/* NAVBAR END */







/* FOOTER SECTION */

.footer-container{
  background-color: #252934;
  padding: 2rem 0 2rem 0;
}

.footer{
  width: 80%;
  height: 40vh;
  background-color: #252934;
  display: flex;
  color: #fff;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2{
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover{
  color: #5CC4DC;
  transition: 0.3s ease-out;
}

.footer-email-form h2{
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;

}
#footer-email::placeholder{
  color: #b1b1b1;
}

#footer-email-btn{
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #5CC4DC;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

#footer-email-btn:hover{
  background-color: #337AF1;
  transition: all 0.4s ease-out;
}

h2{
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  
}

/* FOOTER END */





/* MEDIA QUERIES */

@media (max-width: 35em) {

  .logo{
      margin-left: 1rem;
  }
  .nav-links{
      position: fixed;
      inset: 0 0 0 30%;
      z-index: 1000;
      flex-direction: column;
      padding: min(30vh, 10rem) 2em;

      background-color: #1f3150;

      transform: translate(100%);
  }

  .nav-links[data-visible="true"]{
      transform: translate(0%);
  }


  #wrapper-container{
      width: 100%;
      margin: 0 auto;
      border-radius: 0;
      height: 45vh;
      margin-top: 5rem;
      margin-bottom: 5rem;
      
      
  }

  .footer-container{
      margin-top: 0;
  }

  body{
      margin: 0;
      
  }
  
  
 .burger{
      position: absolute;
      width: 1rem;
      top: 2rem;
      right: 2.5rem;
      z-index: 9999;
      display: block;
  }



      .toggle .line1{
          transform: rotate(-45deg) translate(-5px,6px);
      }
      .toggle .line2{
          opacity: 0;
      }

      .toggle .line3{
          transform: rotate(45deg) translate(-5px,-6px);
      }

}

@media screen and (max-width:1000px){


.footer {
  height: 50vh;
}
.footer-email-form {
  margin-top: 4rem;
}

.logo{
  margin-left: 1rem;
}

}



@media screen and (max-width: 800px){
  .logo{
      margin-left: 1rem;
  }
  body {
   overflow-x: hidden;
  }

  .wrapper-container{
      width: 70vh;
  }

  .nav-links{
      position: fixed;
      inset: 0 0 0 30%;
      z-index: 1000;
      flex-direction: column;
      padding: min(30vh, 10rem) 2em;

      background-color: #1f3150;

      transform: translate(100%);
      gap: var(--gap, 0rem);

  }


  .nav-links[data-visible="true"]{
      transform: translate(0%);
  }

  .burger{
      position: absolute;
      width: 1rem;
      top: 1.5rem;
      right: 2.5rem;
      z-index: 9999;
      display: block;
  }
  
  
  .footer-3{
      display: none;
  }
  .footer-email-form{
      margin-top: 2rem;
  }

  .toggle .line1{
      transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
      opacity: 0;
  }

  .toggle .line3{
      transform: rotate(45deg) translate(-5px,-6px);
  }

}
